
h2 {
    font-size: 12pt;
}

h3 {
    font-weight: normal;
    font-size: 10pt;

}

/******************** Header ********************/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
}


/******************** Main   ********************/


/***** Main Stats *****/

#mainStats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: gray;
    /* padding: 20px; */
    text-align: center;
}

.mainStat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
}

.stat, .defense {
    background-color: white;
    border: solid 2px black;
    padding: 5px;
}


/* Point Counter */

.pointCounter {
    background-color: white;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 2px black;

}

.currentPoint form input {
    width: 25px;
}

/***** Skills *****/

#skills {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skill {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 20px 60% 10px;
    gap: 10px;
}

.skillModifier {
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
}

/***** Other Stats *****/

#otherStats {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap: 10px;
}

.otherStat {
    border: solid 2px black;
    padding: 10px;
}